@page "/fictionSearch"
<h3>Search Fiction</h3>

<input type="text" placeholder="Search Title"/><br/>
<input type="text" placeholder="Search Author"/><br/>
<h6>Published between years:</h6><br/>
<input type="number" placeholder=1990/> and <input type="number" placeholder=2022/><br/>
<button>Fantasy</button><button>Historical Fiction</button><button>Horror</button><button>Humor</button><button>Literature</button><br/>
<button>Magic</button><button>Mystery/Detective</button><button>Plays</button><button>Poetry</button><button>Romance</button><br/>
<button>Sci Fi</button><button>Short Stories</button><button>Thriller</button><button>Young Adult</button>

@code {

}
