@page "/readingLists"


<div class="container-fluid">
    <div class="row">
        <h5 class="col-12">Fiction Reading Lists</h5>
    </div>
    <div class="row">
        <h6>Want to Read</h6>
    </div>
    <div class="row">
        <h6>Favorites</h6>
    </div>
    <div class="row">
        <h6>Finished</h6>
    </div>

    <div class="row">
        <h5 class="col-12">Non-Fiction Reading Lists</h5>
    </div>
    <div class="row">
        <h6>Want to Read</h6>
    </div>
    <div class="row">
        <h6>Favorites</h6>
    </div>
    <div class="row">
        <h6>Finished</h6>
    </div>
</div>

@code {

}
